---
layout: default
title: Krzysztof Begiedza - Blog
description: Description
---

{% assign recent_posts = site.posts | sort: 'date' | reverse %}

<div>
    {% for post in recent_posts limit: 5 %}
    <article>
        <div>
            <header>
                <img class="" src="{{ post.title-image }}">
            </header>
            <article>
                <h1 class="">
                    {{ post.title }}
                </h1>
                <p class="">
                    {{ post.description }}
                </p>
            </article>
            <footer>
                <p class="">
                    {% include post_date.html %}
                </p>
            </footer>
        </div>
    </article>
    {% endfor %}
</div>

<!--
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">

        {% for post in recent_posts limit: 5 %}
        {% if forloop.first %}
        <div class="tile is-parent">
            <article class="tile is-child">
                Test
            </article>
        </div>
        {% else %}

        {% assign mod = forloop.index | modulo: 2 %}
    </div>

        {% if mod == 0 %}
        <div class="tile">
        {% endif %}
            <div class="tile is-parent">
                <div class="tile is-child">
                    <header>
                        <img class="" src="{{ post.title-image }}">
                    </header>
                    <article class="">
                        <a href="{{post.url}}">
                            <div class="">
                                <h1 class="">
                                    {{ post.title }}
                                </h1>
                                <hr>
                                <p class="">
                                    {{ post.description }}
                                </p>
                            </div>
                        </a>
                    </article>
                    <footer>
                        <p class="">
                            {% include post_date.html %}
                        </p>
                    </footer>
                </div>
            </div>
            {% if mod == 1 %}
        </div>
        {% endif %}
        
        {% endif %}
        {% endfor %}
    </div>
</div>
-->