<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/img/bk.png">
            </a>
            <a role="button" class="navbar-burger burger accent-text" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end has-text-right">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/articles">Articles</a>
                <a class="navbar-item" href="https://kbegiedza.eu/" target="_aboutBlank">About</a>
                <a class="navbar-item" href="/contact">Contact</a>
                <a id="theme-toggle" class="navbar-item"><i class="fas fa-moon"></i></a>
            </div>
        </div>
    </div>
</nav>