<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/img/bk.png">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/articles">Articles</a>
            <a class="navbar-item" href="/tutorials">Tutorials</a>
            <a class="navbar-item" href="#">Item 3</a>
            <a class="navbar-item" href="#">Item 4</a>
            <a class="navbar-item" href="https://kbegiedza.eu/" target="_aboutBlank">About</a>
        </div>
    </div>
</nav>