<a class="button is-social" href="https://twitter.com/kbegiedzaeu">
    <span class="icon">
        <i class="bi bi-twitter is-large-text"></i>
    </span>
</a>

<a class="button is-social" href="https://github.com/kbegiedza">
    <span class="icon">
        <i class="bi bi-github is-large-text"></i>
    </span>
</a>

<a class="button is-social" href="https://www.instagram.com/kbegiedza/">
    <span class="icon">
        <i class="bi bi-instagram is-large-text"></i>
    </span>
</a>

<a class="button is-social" href="https://www.linkedin.com/in/krzysztof-begiedza/">
    <span class="icon">
        <i class="bi bi-linkedin is-large-text"></i>
    </span>
</a>