.highlighter-rouge {
    padding-top: 1em;
    padding: 1em;
}

.highlight, .highlight pre, .highlight .hll {
    background: #14171c;
    border-radius: 4px;
    border: 1px solid #1d1f21;
    color: #D4D4D4;
    font-family: monospace, monospace;
    font-size: 1em;
}

pre.highlight {
    padding: .5em 1em;
}

pre > code:before {
    opacity: 0.5;
    display: block;
    font-size: 1.1em;
    text-transform: capitalize;
    content: " "attr(data-lang);
}

.highlight .c { color: #6A9955 } /* Comment */
.highlight .cm { color: #6A9955 } /* Comment.Multiline */
.highlight .cp { color: #C586C0 } /* Comment.Preproc */
.highlight .c1 { color: #6A9955 } /* Comment.Single */
.highlight .cs { color: #6A9955 } /* Comment.Special */
.highlight .k { color: #569cd6 } /* Keyword */
.highlight .l { color: #DCDCAA } /* Literal */
.highlight .n { color: #9CDCFE } /* Name */
.highlight .o { color: #D4D4D4 } /* Operator */
.highlight .p { color: #D4D4D4 } /* Punctuation */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #569cd6 } /* Keyword.Constant */
.highlight .kd { color: #569cd6 } /* Keyword.Declaration */
.highlight .kn { color: #569cd6 } /* Keyword.Namespace */
.highlight .kp { color: #569cd6 } /* Keyword.Pseudo */
.highlight .kr { color: #569cd6 } /* Keyword.Reserved */
.highlight .kt { color: #569cd6 } /* Keyword.Type */
.highlight .ld { color: #ce9178 } /* Literal.Date */
.highlight .sr { color: #CE9178 } /* Literal.String.Regex */
.highlight .m { color: #b5cea8 } /* Literal.Number */
.highlight .s { color: #ce9178 } /* Literal.String */
.highlight .na { color: #9cdcfe } /* Name.Attribute */
.highlight .nc { color: #4EC9B0 } /* Name.Class */
.highlight .nd { color: #4EC9B0 } /* Name.Decorator */
.highlight .nb { color: #569cd6 } /* Name.Builtin */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .ni { color: #569cd6 } /* Name.Entity */
.highlight .ne { color: #569cd6 } /* Name.Exception */
.highlight .nf { color: #DCDCAA } /* Name.Function */
.highlight .nl { color: #569cd6 } /* Name.Label */
.highlight .nn { color: #4EC9B0 } /* Name.Namespace */
.highlight .nx { color: #4EC9B0 } /* Name.Other */
.highlight .py { color: #569cd6 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #D4D4D4 } /* Name.Variable */
.highlight .w { color: #569cd6 } /* Text.Whitespace */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .mf { color: #b5cea8 } /* Literal.Number.Float */
.highlight .mh { color: #b5cea8 } /* Literal.Number.Hex */
.highlight .mi { color: #b5cea8 } /* Literal.Number.Integer */
.highlight .mo { color: #b5cea8 } /* Literal.Number.Oct */
.highlight .sb { color: #d7ba7d } /* Literal.String.Backtick */
.highlight .sc { color: #d7ba7d } /* Literal.String.Char */
.highlight .sd { color: #d7ba7d } /* Literal.String.Doc */
.highlight .s2 { color: #d7ba7d } /* Literal.String.Double */
.highlight .se { color: #d7ba7d } /* Literal.String.Escape */
.highlight .sh { color: #d7ba7d } /* Literal.String.Heredoc */
.highlight .si { color: #d7ba7d } /* Literal.String.Interpol */
.highlight .sx { color: #d7ba7d } /* Literal.String.Other */
.highlight .s1 { color: #d7ba7d } /* Literal.String.Single */
.highlight .ss { color: #d7ba7d } /* Literal.String.Symbol */
.highlight .bp { color: #D4D4D4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #D4D4D4 } /* Name.Variable.Class */
.highlight .vg { color: #D4D4D4 } /* Name.Variable.Global */
.highlight .vi { color: #D4D4D4 } /* Name.Variable.Instance */
.highlight .il { color: #b5cea8 } /* Literal.Number.Integer.Long */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */