// Fonts preferences

$sans-family: Roboto, sans-serif;
// $mono-family: Consolas, monospace;
// $base-font-size: 16px;
// $medium-font-size: $base-font-size * 0.938;
// $small-font-size: $base-font-size * 0.875;
// $base-line-height: 1.85;

// Font weight
$text-weight-light: 300;
$text-weight-normal: 400;
$text-weight-bold: 600;

//Light theme

$light-background-color: #f7f7f2;
$light-border-color: #e1e4e8;
$light-text-small-color: #707471;
$light-text-color: #3a4145;
$light-text-bold-color: #2e2e2e;
$light-text-accent: #c78943;

// Import sass files
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "fonts", "theme-light", "theme-dark", "dark-code", "light-code", "social";
