// Fonts preferences

$sans-family: Roboto, sans-serif;
// $mono-family: Consolas, monospace;
// $base-font-size: 16px;
// $medium-font-size: $base-font-size * 0.938;
// $small-font-size: $base-font-size * 0.875;
// $base-line-height: 1.85;

// Font weight
$text-weight-light: 300;
$text-weight-normal: 400;
$text-weight-bold: 600;

//Light theme

$light-background-color: #f7f7f2;
$light-border-color: #e1e4e8;
$light-text-small-color: #707471;
$light-text-color: #0d1017;
$light-text-bold-color: #0d1017;
$light-text-accent: #c78943;

// Import sass files
@import "fonts", "theme-light", "theme-dark", "dark-code", "social";
