body[theme="light"] {

  code.highlighter-rouge {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e1e4e8;
    color: #24292e;
    font-family: monospace, monospace;
    font-size: 0.9rem;
  }

  figure.highlight,
  .highlight pre.highlight,
  .highlight .hll,
  .language-plaintext {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e1e4e8;
    color: #24292e;
    font-family: monospace, monospace;
    font-size: 0.9rem;
  }

  .highlight pre {
    padding: .5em 1em;
  }

  pre.highlight {
    padding: .5em 1em;
  }

  pre>code:before {
    opacity: 0.7;
    display: block;
    font-size: 0.95em;
    text-transform: capitalize;
    content: " ", attr(data-lang);
  }

  .highlight .cs {
    color: #6A737D
  }

  /* Comment.Special */
  .highlight .l {
    color: #032f62
  }

  /* Literal */
  .highlight .ld {
    color: #032f62
  }

  /* Literal.Date */
  .highlight .sr {
    color: #032f62
  }

  /* Literal.String.Regex */
  .highlight .m {
    color: #032f62
  }

  /* Literal.Number */
  .highlight .s {
    color: #032f62
  }

  /* Literal.String */
  .highlight .nt {
    color: #D73A49
  }

  /* Name.Tag */
  .highlight .ow {
    color: #D73A49
  }

  /* Operator.Word */
  .highlight .il {
    color: #032f62
  }

  /* Literal.Number.Integer.Long */
  .highlight .err {
    color: #960050;
    background-color: #1e0010
  }

  /* Error */
  .highlight .gu {
    color: #75715e;
  }

  /* Generic.Subheading & Diff Unified/Comment? */
  .highlight .gd {
    color: #D73A49;
  }

  /* Generic.Deleted & Diff Deleted */
  .highlight .gi {
    color: #a6e22e;
  }

  /* Generic.Inserted & Diff Inserted */
  .highlight .nv {
    color: #24292EFF
  }

  /* Name.Variable */
  .highlight .bp {
    color: #24292EFF
  }

  /* Name.Builtin.Pseudo */
  .highlight .vc {
    color: #24292EFF
  }

  /* Name.Variable.Class */
  .highlight .vg {
    color: #24292EFF
  }

  /* Name.Variable.Global */
  .highlight .vi {
    color: #24292EFF
  }

  /* Name.Variable.Instance */
  .highlight .mf {
    color: #005CC5
  }

  /* Literal.Number.Float */
  .highlight .mh {
    color: #005CC5
  }

  /* Literal.Number.Hex */
  .highlight .mi {
    color: #005CC5
  }

  /* Literal.Number.Integer */
  .highlight .mo {
    color: #005CC5
  }

  /* Literal.Number.Oct */
  .highlight .p {
    color: #24292EFF
  }

  /* Punctuation */
  .highlight .o {
    color: #24292EFF
  }

  /* Operator */
  .highlight .n {
    color: #24292EFF
  }

  /* Name */
  .highlight .na {
    color: #E27F2D
  }

  /* Name.Attribute */
  .highlight .c {
    color: #6A737D
  }

  /* Comment */
  .highlight .cm {
    color: #6A737D
  }

  /* Comment.Multiline */
  .highlight .cp {
    color: #D73A49
  }

  /* Comment.Preproc */
  .highlight .c1 {
    color: #6A737D
  }

  /* Comment.Single */
  .highlight .nd {
    color: #6F42C1
  }

  /* Name.Decorator */
  .highlight .nn {
    color: #6F42C1
  }

  /* Name.Namespace */
  .highlight .nx {
    color: #6F42C1
  }

  /* Name.Other */
  .highlight .nf {
    color: #6F42C1
  }

  /* Name.Function */
  .highlight .no {
    color: #6F42C1
  }

  /* Name.Constant */
  .highlight .nc {
    color: #6F42C1
  }

  /* Name.Class */
  .highlight .k {
    color: #D73A49
  }

  /* Keyword */
  .highlight .kc {
    color: #D73A49
  }

  /* Keyword.Constant */
  .highlight .kd {
    color: #D73A49
  }

  /* Keyword.Declaration */
  .highlight .kn {
    color: #D73A49
  }

  /* Keyword.Namespace */
  .highlight .kp {
    color: #D73A49
  }

  /* Keyword.Pseudo */
  .highlight .kr {
    color: #D73A49
  }

  /* Keyword.Reserved */
  .highlight .kt {
    color: #D73A49
  }

  /* Keyword.Type */
  .highlight .nb {
    color: #D73A49
  }

  /* Name.Builtin */
  .highlight .ni {
    color: #D73A49
  }

  /* Name.Entity */
  .highlight .ne {
    color: #D73A49
  }

  /* Name.Exception */
  .highlight .nl {
    color: #D73A49
  }

  /* Name.Label */
  .highlight .py {
    color: #D73A49
  }

  /* Name.Property */
  .highlight .w {
    color: #D73A49
  }

  /* Text.Whitespace */
  .highlight .ge {
    font-style: italic
  }

  /* Generic.Emph */
  .highlight .gs {
    font-weight: bold
  }

  /* Generic.Strong */
  .highlight .sb {
    color: #032f62
  }

  /* Literal.String.Backtick */
  .highlight .sc {
    color: #032f62
  }

  /* Literal.String.Char */
  .highlight .sd {
    color: #032f62
  }

  /* Literal.String.Doc */
  .highlight .s2 {
    color: #032f62
  }

  /* Literal.String.Double */
  .highlight .se {
    color: #032f62
  }

  /* Literal.String.Escape */
  .highlight .sh {
    color: #032f62
  }

  /* Literal.String.Heredoc */
  .highlight .si {
    color: #032f62
  }

  /* Literal.String.Interpol */
  .highlight .sx {
    color: #032f62
  }

  /* Literal.String.Other */
  .highlight .s1 {
    color: #032f62
  }

  /* Literal.String.Single */
  .highlight .ss {
    color: #032f62
  }

  /* Literal.String.Symbol */
}