span.icon > i.bi {
    font-size: 1.5em;
}

.is-github {
    color: #f2f2f2;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-github:focus,
.is-github.focus {
    color: #f2f2f2;
    background-color: #444444A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-github:hover {
    color: #f2f2f2;
    background-color: #444444A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-github:active,
.is-github.active,
.open > .dropdown-toggle.is-github {
    color: #f2f2f2;
    background-color: #444444A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-github:active:hover,
.is-github.active:hover,
.open > .dropdown-toggle.is-github:hover,
.is-github:active:focus,
.is-github.active:focus,
.open > .dropdown-toggle.is-github:focus,
.is-github:active.focus,
.is-github.active.focus,
.open > .dropdown-toggle.is-github.focus {
    color: #f2f2f2;
    background-color: #44444480;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-github:active,
.is-github.active,
.open > .dropdown-toggle.is-github {
    background-image: none;
}

.is-github.disabled:hover,
.is-github[disabled]:hover,
fieldset[disabled] .is-github:hover,
.is-github.disabled:focus,
.is-github[disabled]:focus,
fieldset[disabled] .is-github:focus,
.is-github.disabled.focus,
.is-github[disabled].focus,
fieldset[disabled] .is-github.focus {
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-github .badge {
    color: #444;
    background-color: #f2f2f2;
}

.is-instagram {
    color: #f2f2f2;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
    border-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.is-instagram::after {
    color: #f2f2f2;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-135deg, #1206a3, #960692, #c7060b);
    border-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 2;
    opacity: 0;
}

.is-instagram:focus,
.is-instagram.focus {
    color: #f2f2f2;
    background-image: linear-gradient(-135deg, #1206a3, #960692, #c7060b);
    border-color: rgba(0, 0, 0, 0.2);
}

.is-instagram:hover,
.is-instagram.hover {
    color: #f2f2f2;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-instagram:hover::after {
    opacity: 1;
}

.is-instagram > span.icon {
    z-index: 3;
}

.is-instagram:active,
.is-instagram.active,
.open > .dropdown-toggle.is-instagram {
    color: #f2f2f2;
    background-image: linear-gradient(-135deg, #1206a3, #960692, #c7060b);
    border-color: rgba(0, 0, 0, 0.2);
}

.is-instagram:active:hover,
.is-instagram.active:hover,
.open > .dropdown-toggle.is-instagram:hover,
.is-instagram:active:focus,
.is-instagram.active:focus,
.open > .dropdown-toggle.is-instagram:focus,
.is-instagram:active.focus,
.is-instagram.active.focus,
.open > .dropdown-toggle.is-instagram.focus {
    color: #f2f2f2;
    background-image: linear-gradient(-135deg, #110993, #880984, #b4090e);
    border-color: rgba(0, 0, 0, 0.2);
}

.is-instagram:active,
.is-instagram.active,
.open > .dropdown-toggle.is-instagram {
    background-image: none;
}

.is-instagram.disabled:hover,
.is-instagram[disabled]:hover,
fieldset[disabled] .is-instagram:hover,
.is-instagram.disabled:focus,
.is-instagram[disabled]:focus,
fieldset[disabled] .is-instagram:focus,
.is-instagram.disabled.focus,
.is-instagram[disabled].focus,
fieldset[disabled] .is-instagram.focus {
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
    border-color: rgba(0, 0, 0, 0.2);
}

.is-instagram .badge {
    color: #3f729b;
    background-color: #f2f2f2;
}

.is-linkedin {
    color: #f2f2f2;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-linkedin:focus,
.is-linkedin.focus {
    color: #f2f2f2;
    background-color: #007bb6A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-linkedin:hover {
    color: #f2f2f2;
    background-color: #007bb6A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-linkedin:active,
.is-linkedin.active,
.open > .dropdown-toggle.is-linkedin {
    color: #f2f2f2;
    background-color: #007bb6A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-linkedin:active:hover,
.is-linkedin.active:hover,
.open > .dropdown-toggle.is-linkedin:hover,
.is-linkedin:active:focus,
.is-linkedin.active:focus,
.open > .dropdown-toggle.is-linkedin:focus,
.is-linkedin:active.focus,
.is-linkedin.active.focus,
.open > .dropdown-toggle.is-linkedin.focus {
    color: #f2f2f2;
    background-color: #007bb680;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-linkedin:active,
.is-linkedin.active,
.open > .dropdown-toggle.is-linkedin {
    background-image: none;
}

.is-linkedin.disabled:hover,
.is-linkedin[disabled]:hover,
fieldset[disabled] .is-linkedin:hover,
.is-linkedin.disabled:focus,
.is-linkedin[disabled]:focus,
fieldset[disabled] .is-linkedin:focus,
.is-linkedin.disabled.focus,
.is-linkedin[disabled].focus,
fieldset[disabled] .is-linkedin.focus {
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-linkedin .badge {
    color: #007bb6;
    background-color: #f2f2f2;
}

.is-twitter {
    color: #f2f2f2;
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-twitter:focus,
.is-twitter.focus {
    color: #f2f2f2;
    background-color: #55aceeA0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-twitter:hover {
    color: #f2f2f2;
    background-color: #55aceeA0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-twitter:active,
.is-twitter.active,
.open > .dropdown-toggle.is-twitter {
    color: #f2f2f2;
    background-color: #55aceeA0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-twitter:active:hover,
.is-twitter.active:hover,
.open > .dropdown-toggle.is-twitter:hover,
.is-twitter:active:focus,
.is-twitter.active:focus,
.open > .dropdown-toggle.is-twitter:focus,
.is-twitter:active.focus,
.is-twitter.active.focus,
.open > .dropdown-toggle.is-twitter.focus {
    color: #f2f2f2;
    background-color: #55acee80;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-twitter:active,
.is-twitter.active,
.open > .dropdown-toggle.is-twitter {
    background-image: none;
}

.is-twitter.disabled:hover,
.is-twitter[disabled]:hover,
fieldset[disabled] .is-twitter:hover,
.is-twitter.disabled:focus,
.is-twitter[disabled]:focus,
fieldset[disabled] .is-twitter:focus,
.is-twitter.disabled.focus,
.is-twitter[disabled].focus,
fieldset[disabled] .is-twitter.focus {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-twitter .badge {
    color: #55acee;
    background-color: #f2f2f2;
}

.is-youtube {
    color: #f2f2f2;
    background-color: #ff0000;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-youtube:focus,
.is-youtube.focus {
    color: #f2f2f2;
    background-color: #ff0000A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-youtube:hover {
    color: #f2f2f2;
    background-color: #ff0000A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-youtube:active,
.is-youtube.active,
.open > .dropdown-toggle.is-youtube {
    color: #f2f2f2;
    background-color: #ff0000A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-youtube:active:hover,
.is-youtube.active:hover,
.open > .dropdown-toggle.is-youtube:hover,
.is-youtube:active:focus,
.is-youtube.active:focus,
.open > .dropdown-toggle.is-youtube:focus,
.is-youtube:active.focus,
.is-youtube.active.focus,
.open > .dropdown-toggle.is-youtube.focus {
    color: #f2f2f2;
    background-color: #ff000080;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-youtube:active,
.is-youtube.active,
.open > .dropdown-toggle.is-youtube {
    background-image: none;
}

.is-youtube.disabled:hover,
.is-youtube[disabled]:hover,
fieldset[disabled] .is-youtube:hover,
.is-youtube.disabled:focus,
.is-youtube[disabled]:focus,
fieldset[disabled] .is-youtube:focus,
.is-youtube.disabled.focus,
.is-youtube[disabled].focus,
fieldset[disabled] .is-youtube.focus {
    background-color: #ff0000;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-youtube .badge {
    color: #ff0000;
    background-color: #f2f2f2;
}

a.button {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: background-color, transform;
    transition-duration: 0.3s;

    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;

    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-property: background-color, transform;
    -o-transition-duration: 0.3s;

    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-property: background-color, transform;
    -moz-transition-duration: 0.3s;
}

.no-animation {
    -o-transition-property: none !important;
    -ms-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

.is-rss {
    color: #f2f2f2;
    background-color: #f26522;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-rss:focus,
.is-rss.focus {
    color: #f2f2f2;
    background-color: #f26522A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-rss:hover {
    color: #f2f2f2;
    background-color: #f26522A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-rss:active,
.is-rss.active,
.open > .dropdown-toggle.is-rss {
    color: #f2f2f2;
    background-color: #f26522A0;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-rss:active:hover,
.is-rss.active:hover,
.open > .dropdown-toggle.is-rss:hover,
.is-rss:active:focus,
.is-rss.active:focus,
.open > .dropdown-toggle.is-rss:focus,
.is-rss:active.focus,
.is-rss.active.focus,
.open > .dropdown-toggle.is-rss.focus {
    color: #f2f2f2;
    background-color: #f2652280;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-rss:active,
.is-rss.active,
.open > .dropdown-toggle.is-rss {
    background-image: none;
}

.is-rss.disabled:hover,
.is-rss[disabled]:hover,
fieldset[disabled] .is-rss:hover,
.is-rss.disabled:focus,
.is-rss[disabled]:focus,
fieldset[disabled] .is-rss:focus,
.is-rss.disabled.focus,
.is-rss[disabled].focus,
fieldset[disabled] .is-rss.focus {
    background-color: #f26522;
    border-color: rgba(0, 0, 0, 0.2);
}

.is-rss .badge {
    color: #f26522;
    background-color: #f2f2f2;
}