body[theme="light"] {
    display: flex;
    min-height: 95vh;
    overflow-x: hidden;
    flex-direction: column;
    background-size: cover;
    color: $light-text-color;
    font-family: $sans-family;
    font-weight: $text-weight-normal;
    background-color: $light-background-color;

    .navbar {
        background-color: $light-background-color;
    }

    a.navbar-item:hover,
    a.navbar-item:focus {
        background-color: $light-background-color;
    }

    .footer {
        background-color: $light-background-color;
    }

    .post-tile {
        border: 1px solid $light-border-color;
    }

    @media (hover: hover) {
        .side-about-img-overlay {
            opacity: 0.9;
            transition: ease 1s;
        }

        .side-about-img-overlay:hover {
            transition: ease 1s;
            opacity: 1;
        }
    }

    @media (hover: hover) {
        .post-image-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0.1;
            background-color: white;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            transition: ease 1s;
        }

        .post-image-overlay:hover {
            transition: ease 1s;
            opacity: 0;
        }
    }
}