html, body {
    display: flex;
    min-height: 95vh;
    overflow-x: hidden;
    flex-direction: column;
    background-size: cover;
    color: $dark-text-color;
    font-family: $sans-family;
    font-weight: $text-weight-normal;
    background-color: $dark-background-color;
}

.section {
    flex: 1;
}

a, a:link, a:visited {
    color: $text-accent;
    text-decoration: none;
    transition: color 0.5s ease;
}

.tag {
    a, a:link, a:visited {
        color: $dark-text-color;
    }
}

ul.is-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: $dark-navbar-background;
}

.navbar-menu {
    background-color: transparent;
}

div.navbar-brand > a.navbar-item {
    transition: filter 0.5s ease;
}

div.navbar-brand > a.navbar-item:hover {
    filter: grayscale(0.35);
}

a.navbar-item {
    font-size: 1.25em;
    color: $text-accent;
    text-decoration: none;
    font-weight: $text-weight-normal;
}

a.navbar-item:hover,
a.navbar-item:focus {
    color: $text-accent-light;
    background-color: $dark-background-color;
}

a.navbar-item:active {
    color: $text-accent;
}

.footer {
    padding-bottom: 3rem;
    background-color: $dark-background-color;
}

a:hover {
    color: $text-accent-light;
}

.content h1, h2, h3 {
    color: $dark-text-color !important;
}

.content-title {
    font-size: 1.2em;
}

.content-date {
    font-size: 0.9em;
    margin-bottom: 1em;
}

@media (max-width: 767px) {
    .section {
        padding: 0em
    }
}

.article-title {
    position: relative;
    display: inline-block;
    margin-bottom: 2.5rem;
}

.article-title-image {
    opacity: 0.7;
    border-radius: 4px;
}

.article-title-text {
    font-size: 1.25em;
    color: $text-accent;
    font-weight: $text-weight-bold;
}

.article-title-sub-text {
    font-size: 0.9em;
}

.article-title-date {
    color: $dark-text-small-color;
    font-size: 0.75em;
}

.article-title-content {
    padding-top: 2em;
}

.article-title-content-tags {
    top: 1em;
    right: 1em;
    position: absolute;
    pointer-events:none;
    color: $dark-text-color;
}

@media (min-width: 768px) {
    .article-title-text {
        font-size: 2em;
    }

    .article-title-sub-text {
        font-size: 1.25em;
    }

    .article-title-date {
        font-size: 0.9em;
    }
}

@media (min-width: 1408px) {
    .article-title-text {
        font-size: 2.5em;
    }
}

.article-tag {
    padding: 1em;
    color: $dark-text-color !important;
    background-color: $text-accent !important;
}

::-webkit-scrollbar {
    width: .75em;
    height: .75em;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.mail-list {
    margin-top: 3em;
    margin-bottom: 1em;
    background: #14171c;
    border-radius: 4px;
    border: 1px solid $dark-border-color;
}

.comments {
    margin-top: 3em;
}

.comments-header {
    word-spacing: .2em;
}

a.is-secondary,.is-secondary,.is-secondary:focus {
    transition: ease .5s;

    color: $dark-text-color;
    background: $text-accent;
    border: 1px solid $text-accent;
}

.is-secondary:hover
{
    color: $dark-text-color;
    background: $text-accent-light;
    border: 1px solid $text-accent-light;
}

.is-secondary:active {
    color: $dark-text-color;
    background: $text-accent-light;
    border: 1px solid $dark-text-minor;
}

.article-navi {
    display: block;
    width: auto;
    overflow: hidden;
}

.article-navi a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}
.article-navi .next {
    text-align: right;
}

.side-panel {
    font-size: 0.95em;
    margin-bottom: 2em;
    padding: 0em 1em 0.2em;
    border-left: 5px solid $text-accent;
}

.side-panel p.is-header {
    font-size: 1.2em;
    color: $text-accent;
    margin-bottom: 0.6666em;
    font-weight: $text-weight-bold;
}

@media screen and (max-width: 767px), print {
    .columns {
        padding: 1em;
    }
}

@media (hover: hover) {
    .side-about-img-overlay {
        opacity: 0.4;
        transition: opacity ease 1s;
    }

    .side-about-img-overlay:hover {
        opacity: 0.9;
        transition: opacity ease 1s;
    }
}

.accent-text {
    color: $text-accent !important;
}

.side-panel-header {
    color: $text-accent !important;
}

a.is-social {
    border: 0;
    font-size: 1em;
    color: $text-accent;
    margin-bottom: 0.4em;
    text-decoration: none;
    background-color: transparent;
}

a.is-social:hover {
    color: $dark-background-color;
    background-color: $text-accent;
}

.side-panel.is-social {
    padding-bottom: 0.5em;
}

.is-large-text {
    font-size: 1.333em;
}

.is-small-text {
    font-size: 0.9em;
}

#references.references {
    margin-top: -4.375em;
    padding-top: 5em;
}

.post-image {
    text-align: center;
}

.post-image>img{
    height: auto;
    max-width: 75%;
}

.post-feed {
    display: flex;
    flex-wrap: wrap;
}

.post {
    padding-bottom: 1em;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .post {
        width: 50%;
        flex: 0 0 50%;
    }
}

.post-tile {
    flex-grow: 1;
    display: flex;
    margin-left: 0.5em;
    border-radius: 7px;
    margin-right: 0.5em;
    flex-direction: column;
    border: 1px solid $dark-border-color;
}

.post-image {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.post-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.post article {
    padding: 1.33em;
    flex-grow: 1;
}

.post-title {
    padding-bottom: 1em;
    font-size: 1.33em;
    font-weight: bold;
}

.post-desc {
    font-size: 1em;
}

.post footer {
    justify-content: space-between;
    display: flex;
    margin-bottom: 1.33em;
    padding: 0 1.33em 0 1.33em;
}

.post-footer {
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark-text-small-color;
}

.post-date {
    color: $dark-text-small-color;
}

@media (hover: hover) {
    .post-image-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background-color: black;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        transition: opacity ease 1s;
    }

    .post-image-overlay:hover {
        transition: opacity ease 1s;
        opacity: 0.1;
    }
}

.divider {
    height: 0.5px;
    margin: 1em 0 1em 0;
    border: solid $dark-text-small-color 1px;
}