<div class="side-panel side-about">
    <div class="side-about-img-overlay">
        <a href="https://kbegiedza.eu" target="_aboutBlank">
            <img src="/static/img/test.png"></img>
        </a>
    </div>

    <p class="side-about-text">
        Hej! Mam na imię Krzysztof.<br>
        Jestem programistą oraz twórcą narzędzi i niezależnych gier.<br>
        Za pomocą tego bloga chciałbym podzielić się z Tobą swoją wiedzą oraz spostrzeżeniami na temat tworzenia oprogramowania.
    </p>
</div>