<div class="content">
    <div class="side-panel side-about">
        <img class="side-about-img" src="/static/img/kazik.jpg"></img>
        Najmłodszy syn Władysława I Łokietka i Jadwigi Bolesławówny, król Polski w latach 1333–1370, ostatni monarcha z dynastii Piastów na tronie polskim.
    </div>

    <div class="side-panel">
        <h3 class="side-panel-header">Categories</h3>
        <p>
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            {{ category_name }}
            <a href="#"></a><br>
            {% endfor %}
        </p>
    </div>
</div>