<div class="side-panel is-social">

    <h3 class="side-panel-header">Znajdziesz mnie też</h3>

    <a class="button is-social is-twitter" href="#">
        <span class="icon">
            <i class="fab fa-twitter fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-github" href="#">
        <span class="icon">
            <i class="fab fa-github fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-instagram" href="#">
        <span class="icon">
            <i class="fab fa-instagram fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-linkedin" href="#">
        <span class="icon">
            <i class="fab fa-linkedin fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-youtube" href="#">
        <span class="icon">
            <i class="fab fa-youtube fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-rss" href="/feed.xml">
        <span class="icon">
            <i class="fa fa-rss fa-lg"></i>
        </span>
    </a>

</div>