<div class="side-panel container">

    <h3 class="side-panel-header">Zobacz również</h3>

    <a class="button is-social is-small is-twitter" href="#">
        <span class="icon">
            <i class="fab fa-twitter fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-small is-github" href="#">
        <span class="icon">
            <i class="fab fa-github fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-small is-instagram" href="#">
        <span class="icon">
            <i class="fab fa-instagram fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-small is-linkedin" href="#">
        <span class="icon">
            <i class="fab fa-linkedin fa-lg"></i>
        </span>
    </a>

    <a class="button is-social is-small is-youtube" href="#">
        <span class="icon">
            <i class="fab fa-youtube fa-lg"></i>
        </span>
    </a>
</div>