<div class="side-panel is-social">
    <p class="is-header">You can find me also on</p>

    <a class="button is-social is-twitter" href="https://twitter.com/Ursanon">
        <span class="icon">
            <i class="bi bi-twitter"></i>
        </span>
    </a>

    <a class="button is-social is-github" href="https://github.com/Ursanon">
        <span class="icon">
            <i class="bi bi-github"></i>
        </span>
    </a>

    <span>
        <a class="button is-social is-instagram" href="https://www.instagram.com/kbegiedza/">
            <span class="icon">
                <i class="bi bi-instagram"></i>
            </span>
        </a>
    </span>

    <a class="button is-social is-linkedin" href="https://www.linkedin.com/in/krzysztof-begiedza/">
        <span class="icon">
            <i class="bi bi-linkedin"></i>
        </span>
    </a>

    <a class="button is-social is-youtube" href="https://www.youtube.com/channel/UCss2JLj2UX5k_bIWgtSz1yA">
        <span class="icon">
            <i class="bi bi-youtube"></i>
        </span>
    </a>

    <a class="button is-social is-rss" href="/feed.xml">
        <span class="icon">
            <i class="bi bi-rss-fill"></i>
        </span>
    </a>
</div>