---
layout: default
title: Krzysztof Begiedza - Blog
description: "Passionate software engineer and .NET enthusiast writing about code performance, artificial intelligence
and backend stuff."
---

<section class="section">
    <div class="container">
        <div class="columns is-centered is-variable is-8">
            <div class="column is-8">
                {{ content }}
            </div>
            <div class="column is-3">
                {% include side/index.html %}
            </div>
        </div>
    </div>
</section>